@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 1280px) {

    #footer .container,
    #tabsMovie .container,
    #tabsNews .container,
    #downloadApp .container {
        width: 95%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1281px) {

    #footer .container,
    #tabsMovie .container,
    #tabsNews .container,
    #downloadApp .container {
        width: 60%;
        margin: 0 auto;
    }
}

/* tabsMovie */
#tabsMovie .headerShadow__tabsMovie {
    background-image: url(../public/images/bg-tabsmovie.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 120px;
}

#tabsMovie .ant-tabs-nav-list .ant-tabs-tab {
    opacity: 0.7;
}

#tabsMovie .ant-tabs-nav-list .ant-tabs-tab-active {
    opacity: 1;
    border-right: 2px solid black;
    z-index: 5;
}

/* logoTheater tab */
#tabsMovie .ant-tabs-nav-list {
    width: 90px;
    border: 1px solid #e0e0e0;
}

#tabsMovie .ant-tabs-tab,
#tabsMovie .ant-tabs-tab-active {
    height: 90px;
}

#tabsMovie .ant-tabs-left>.ant-tabs-nav .ant-tabs-tab+.ant-tabs-tab {
    margin: 0;
}

#tabsMovie .ant-tabs-tab::after {
    content: '';
    width: 80%;
    height: 1px;
    background: rgba(238, 238, 238, .88);
    position: absolute;
    bottom: 0;
    right: 10%;
}


/*detailTheater tab */
#tabsMovie .ant-tabs-left>.ant-tabs-content-holder>.ant-tabs-content>.ant-tabs-tabpane {
    padding: 0;
}

#tabsMovie .ant-tabs-content-holder .ant-tabs-nav-list {
    width: 264px;
    border: 1px solid #e0e0e0;
    border-left: none;
}

#tabsMovie .ant-tabs>.ant-tabs-nav .ant-tabs-nav-more {
    border-bottom: 1px solid #e0e0e0;
}

#tabsMovie .ant-tabs-left>.ant-tabs-nav .ant-tabs-tab {
    padding: 20px;
}

#tabsMovie .detailTheater {
    width: 224px;
}

#tabsMovie .detailTheater h4 {
    color: black;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.00735em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    margin-bottom: 0;
}

#tabsMovie .detailTheater h6 {
    color: #757575;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    margin-bottom: 0;
}

#tabsMovie .detailTheater a {
    color: black;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.02857em;
    text-decoration: none;
}

#tabsMovie .detailTheater a:hover {
    color: black;
}


/*movieShowtime tab */
#tabsMovie .ant-tabs-content-holder .ant-tabs-content-holder .ant-tabs-content {
    width: 100%;
    border: 1px solid #e0e0e0;
    border-left: none;
}

#tabsMovie .ant-tabs-content-holder .ant-tabs-content .movieShowtime {
    padding: 20px;
    position: relative;
}

#tabsMovie .ant-tabs-content-holder .ant-tabs-content .movieShowtime::after {
    content: '';
    display: block;
    width: 80%;
    height: 1px;
    background: rgba(238, 238, 238, .88);
    position: absolute;
    bottom: 0;
}

#tabsMovie .ant-tabs-content-holder .ant-tabs-content img {
    width: 100px;
    object-fit: contain;
}

#tabsMovie .ant-tabs-content-holder .ant-tabs-content .detailShowtime {
    width: 555px;
    padding: 0 20px;
}

#tabsMovie .ant-tabs-content-holder .ant-tabs-content .detailShowtime .movieTag {
    background-color: red;
    color: white;
    display: inline-block;
    font-size: 16px;
    padding: 0 5px;
    border-radius: 4px;
}

#tabsMovie .ant-tabs-content-holder .ant-tabs-content .detailShowtime .showtime {
    display: inline-block;
    background-color: rgba(246, 246, 246, 0.5);
    border: 1px solid #e4e4e4;
    color: #9e9e9e;
    font-size: 14px;
    font-weight: 500;
    padding: 8px;
    margin: 0px 16px 16px 0px;
    border-radius: 4px;
    text-decoration: none;
}

#tabsMovie .ant-tabs-content-holder .ant-tabs-content .detailShowtime .showtime span:first-of-type {
    color: black;
}

#tabsMovie .ant-tabs-content-holder .ant-tabs-content .detailShowtime .showtime span:last-of-type {
    color: red;
}

#tabsMovie .ant-tabs-content-holder .ant-tabs-content .detailShowtime .showtime:hover {
    font-weight: 600;
}


/* Tabs news */
#tabsNews .ant-tabs-tab {
    height: 24px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02857em;
    min-width: 160px;
    min-height: 48px;
    padding: 6px 12px;
    display: flex;
    justify-content: center;
    position: relative;
    color: gray;
}

#tabsNews .ant-tabs-nav-wrap {
    display: flex;
    justify-content: center;
}

#tabsNews .ant-tabs-tab:hover {
    color: black;
    font-size: 22px;
}

#tabsNews .ant-tabs-tab.ant-tabs-tab-active {
    border-bottom: 3px solid black;
    z-index: 1;
    transition: .3s;
}

#tabsNews .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: black;
    font-size: 22px;
}

#tabsNews .articleItem a {
    display: inline-block;
    text-align: left;
    text-decoration: none;
}

#tabsNews .articleItem a img {
    width: 100%;
    object-fit: contain;
    border-radius: 4px;
}

#tabsNews .articleItem a h5 {
    color: blue;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.00938em;
    transition: .2s;
}

#tabsNews .articleItem a h5:hover {
    color: red;
}

#tabsNews .articleItem a p {
    height: 55px;
    color: gray;
    font-size: 13px;
    font-weight: 400;
    text-align: justify;
    line-height: 19px;
    letter-spacing: 0.00938em;
    overflow: hidden;
    text-overflow: ellipsis;
}

#tabsNews .articleItem .articleItem_small a h5 {
    color: gray;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.00938em;
    transition: .2s;
}

#tabsNews .articleItem .articleItem_small a h5:hover {
    color: red;
}

#tabsNews button {
    color: #949494;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    border: 1px solid #949494;
    display: inline-block;
    padding: 8px 24px;
    transition: all .2s;
    border-radius: 4px;
}

#tabsNews button:hover {
    color: white;
    background: black;
    border-color: black;
}



/* download app */
#downloadApp {
    background-image: url(../public/images/backapp.jpg);
    background-size: contain;
}

.downloadAppDesktop {
    padding: 105px 0 65px 0;
}

#downloadApp.downloadAppMobile p:nth-of-type(1),
#downloadApp.downloadAppTablet p:nth-of-type(2) {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
    line-height: 1.8;
    letter-spacing: 0.00938em;
}

#downloadApp.downloadAppMobile p:nth-of-type(3),
#downloadApp.downloadAppTablet p:nth-of-type(3) {
    font-size: medium;
    margin-top: 16px;
    margin-bottom: 15px;
}

#downloadApp.downloadAppMobile p:nth-of-type(4),
#downloadApp.downloadAppTablet p:nth-of-type(4) {
    font-size: medium;
    margin-top: 16px;
    margin-bottom: 15px;
}

#downloadApp.downloadAppMobile p:nth-of-type(4) a,
#downloadApp.downloadAppTablet p:nth-of-type(4) a {
    color: white;
}

#downloadApp.downloadAppMobile .downloadButton,
#downloadApp.downloadAppTablet .downloadButton {
    display: inline-block;
    margin-top: 16px;
    padding: 8px 32px;
    background-color: white;
    min-width: 64px;
    color: black;
    font-size: medium;
    font-weight: 700;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

#downloadApp.downloadAppMobile .downloadButton:hover,
#downloadApp.downloadAppTablet .downloadButton:hover {
    background-color: white;
}

#downloadApp.downloadAppDesktop p:nth-of-type(1),
#downloadApp.downloadAppDesktop p:nth-of-type(2),
#downloadApp.downloadAppTablet p:nth-of-type(1),
#downloadApp.downloadAppTablet p:nth-of-type(2) {
    font-size: xx-large;
    font-weight: 700;
    margin-bottom: 8px;
    line-height: 1.8;
    letter-spacing: 0.00938em;
}

#downloadApp.downloadAppDesktop p:nth-of-type(3) {
    font-size: medium;
    margin-top: 16px;
    margin-bottom: 15px;
}

#downloadApp.downloadAppDesktop p:nth-of-type(4) {
    font-size: medium;
    margin-top: 16px;
    margin-bottom: 15px;
}

#downloadApp.downloadAppDesktop p:nth-of-type(4) a {
    color: white;
}

#downloadApp.downloadAppDesktop .downloadButton {
    display: inline-block;
    margin-top: 16px;
    padding: 15px 32px;
    background-color: white;
    min-width: 64px;
    color: black;
    font-size: medium;
    font-weight: 700;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

#downloadApp.downloadAppDesktop .downloadButton:hover {
    background-color: gray;
    color:white
}

#downloadApp .downloadApp__carousel {
    padding: 1% 27.5% 0 27.5%;
    background-image: url(../public/images/phone_frame.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#downloadApp .downloadApp__carousel .slick-slider {
    border-radius: 28px;
    overflow: hidden;
}


/* footer */
#footer {
    background-color: #212121;
}

#footer .container.lowerFooter {
    border-top: 1px solid white;
}

.upperFooter h6 {
    color: #9e9e9e;
    transition: 0.4s;
    font-size: 12px;
}

.upperFooter h6:hover {
    color: white;
}

.lowerFooter {
    font-weight: 500;
}

.footerMobile .lowerFooter img {
    width: 100px;
    object-fit: contain;
}

.footerTablet .lowerFooter img {
    width: 140px;
    object-fit: contain;
}

.footerLargeDesktop .upperFooter h5 {
    color: white;
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 10px;
}

.footerLargeDesktop .lowerFooter img {
    width: 100px;
    object-fit: contain;
}


/* login page */
.loginPage .ant-checkbox-checked .ant-checkbox-inner,
.loginPage .ant-checkbox-checked .ant-checkbox-inner {
    background-color: black;
    border-color: black;
}

.loginPage .ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-inner,
.loginPage .ant-checkbox:not(.ant-checkbox-disabled):hover .ant-checkbox-inner {
    border-color: black;
}

.loginPage .ant-checkbox .ant-checkbox-input:focus-visible+.ant-checkbox-inner {
    outline: 4px solid black;
}

.loginPage .ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner {
    background-color: gray;
    border-color: gray;
}

.ant-checkbox-checked:after,
.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-checked:not(.ant-checkbox-disabled):after,
.ant-checkbox-wrapper-checked:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox:after,
.ant-checkbox-checked:not(.ant-checkbox-disabled):hover .ant-checkbox:after {
    border: 2px solid gray;
}

.loginPage .loginButton {
    line-height: 5px;
    transition: 0.4s;
}

.loginPage .loginButton:focus-visible {
    outline: 4px solid gray;
}

.loginPage .loginButton:active,
.loginPage .loginButton:hover {
    background-color: black;
}

